# Игнорировать всё в корне и во всех подпапках
/*

# Разрешить сам .gitignore (чтобы он попал в репозиторий)
!/.gitignore

# ==============================================
# СЮДА ВПИШИТЕ СВОИ ФАЙЛЫ (пути относительно корня)
# ==============================================

# Файлы в корне для загрузки
!/gui.py
!/main.py
!/pinger.py
!/backend.py
!/req.txt
!/pyinstaller_command.txt
!/config.py
!/favicon.ico
!/.github/
!/updater.py
!/version.py
!/agents.md

# utils
!/utils/
!/utils/pinger.py
!/utils/xlsx_exporter.py
/utils/input.json
/utils/output.xlsx