# Игнорировать всё в корне и во всех подпапках
/*

# Разрешить сам .gitignore (чтобы он попал в репозиторий)
!/.gitignore

# ==============================================
# СЮДА ВПИШИТЕ СВОИ ФАЙЛЫ (пути относительно корня)
# ==============================================

# Файлы в корне для загрузки
!/pinger.py
!/backend.py
!/req.txt
!/pyinstaller_command.txt
!/config.py
!/favicon.ico
!/.github/
!/updater.py
!/version.py
!/agents.md
!/app.py

# utils
!/utils/
/utils/*
!/utils/pinger.py
!/utils/xlsx_exporter.py
!/utils/payload_builder.py

# ui
!/ui/
!/ui/*
!/ui/index.html

# tests
!/tests/data/
!/tests/__init__.py
!/tests/conftest.py
!/tests/unit_tests.py


#src
!/src/